/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .banner_text{
    margin:38% 0;
}
    .banner_text h1{
    font-family: wc;
    font-size: 70px;
    color:white;
}
.banner_text span{
    font-size: 11.5px;
    color:white;
}
    .custom_btn{
    margin-left: 29%;
}
    .footer_text{
       padding:4% 25%; 
    }
    .footer_list{
        padding:4% 22%; 
    }
    footer img{
        padding:4% 25%;
    }
    #footer_text{
       padding:4% 25%; 
    }
       #gallery{
    padding-left: 4%;
}
 .menu{
    padding-bottom:20%;
}
    .gallery{
    padding-bottom:24%;
    padding-top: 18%;
}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { ... }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { ... }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }